/*Pie de pagina o el footer*/
.piepagina .grupo1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    background: #040623;
}

.piepagina .grupo1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.piepagina .grupo1 .box figure img {
    width: 250px;
}

.piepagina .grupo1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.piepagina .grupo1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.piepagina .grupo1 .redsocial a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #873c3c;
    margin-right: 10px;
    background-color: #be7200;
    text-align: center;
    transition: all 300ms ease;
}

.piepagina .grupo1 .redsocial a:hover {
    color: rgb(2, 255, 255);
}

.piepagina .grupo2 {
    background-color: var(--background);
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.piepagina .grupo2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .piepagina .grupo1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}