 @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bowlby+One+SC&family=Bungee+Inline&family=Chakra+Petch:ital,wght@0,300;0,700;1,700&family=Comme&family=Inter:wght@200;400;500;800&family=Libre+Baskerville:wght@700&family=Raleway:wght@500&display=swap');


 :root {
   --bg: #100c18;
   --Nav: transparent;
   --rosadito: #ee96f9;
   --MORADOCLaro: #69348f;
   --white: #fff;
 }

 body {
   background: var(--bg);
   /* overflow: hidden; */
   font-family: 'Chakra Petch', sans-serif;
   ;
 }

 /* Estilo para la barra de desplazamiento */
 ::-webkit-scrollbar {
   width: 6px;
   /* Ancho de la barra de desplazamiento */
 }

 /* Estilo para el riel de la barra de desplazamiento */
 ::-webkit-scrollbar-track {
   background: var(--bg);
   /* Color de fondo del riel */
 }

 /* Estilo para el pulgar de la barra de desplazamiento (la parte que se arrastra) */
 ::-webkit-scrollbar-thumb {
   background: var(--MORADOCLaro);
   /* Color del pulgar de la barra de desplazamiento */
 }

 /* Estilo para el pulgar de la barra de desplazamiento al pasar el mouse sobre él */
 ::-webkit-scrollbar-thumb:hover {
   background: var(--rosadito);
   cursor: pointer;
 }


 /* Estilos para el contenedor principal */
 .App {
   text-align: center;
   position: relative;
   display: grid;
   gap: 100px;
   grid-template-areas:
     "Nav"
     "Contenido"
 }

 /* Estilos para la barra de navegación (nav) */
 .Nav {
   background-color: var(--Nav);
   position: absolute;
   grid-area: Nav;
   /* Fondo del menú */
 }

 /* Estilos para la lista no ordenada (ul) que contiene los elementos del menú */
 .Nav ul {
   backdrop-filter: blur(15px);
   /* Aplica un efecto de desenfoque al contenido detrás del nav */
   position: fixed;
   /* Fija la barra de navegación en la parte superior */
   width: 100%;
   transition: background-color 0.3s;
   /* Agrega una transición para suavizar el cambio de fondo */
   list-style: none;
   /* Quita los puntos de lista */
   padding: 0;
   /* Elimina el espacio interior */
   margin: 0;
   /* Elimina el margen */
   display: flex;
   /* Hace que los elementos sean horizontales */
   justify-content: space-around;
   /* Espacio igual entre los elementos */
   align-items: center;
   /* Centra verticalmente los elementos en la barra de navegación */
   height: 100px;
   /* Altura de la barra de navegación */
 }

 /* Estilos para cada elemento de la lista (li) en el menú */
 .Nav li {
   color: #fff;
   /* Color del texto */
   padding: 10px;
   font-size: 22px;
   /* Espacio interno en cada lado del texto */
 }

 /* Estilos para los enlaces (a) en el menú */
 .Nav a {
   text-decoration: none;
   /* Quita el subrayado predeterminado de los enlaces */
   color: #fff;

   /* Color del texto de los enlaces */
 }

 /* Estilos para los enlaces al pasar el ratón por encima */
 .Nav a:hover {
   text-decoration: underline;
   /* Subrayado al pasar el ratón por encima */
 }

 .logo {
   font-size: 40px;
   text-transform: uppercase;
   text-decoration: none;
 }

 /* Estilos para ocultar el menú en pantallas grandes y mostrar el botón de hamburguesa */
 @media (max-width: 768px) {
   .menu {
     display: none;
   }

   .hamburger {
     display: block;
   }
 }

 .contenido {
   height: 4000px;
   width: 100%;
   color: #fff;
   background: var(--bg);
   grid-area: Contenido;
 }

 .contenido h2 {
   color: #fff;
 }

 .cardBox {
   color: #fff;
  }